<div class="content" role="main">

    <div class="sidebar-container">
    
        <img [src]="avatar" width="75"/>
        <img src="assets/images/no-img.jpg" width="75" *ngIf="!avatar"/>
        
        <p>{{user?.email}}</p>
    
        <nav class="nav flex-column">
            <a class="nav-link active" aria-current="page" (click)="inicio()" i18n>Inicio</a>
            <a class="nav-link" (click)="perfil()" i18n>Perfil</a>       
        </nav>
          
        <button type="button" class=" btn logout" (click)="logout()" i18n>Cerrar sesión</button>
        
    </div>
    
   </div>
   
