

.card {
    position: relative;
    height: 60vh;
    margin: auto;
	width: 50%;
	margin-top: 100px;
	
}

.avatar {
	display: flex;
	justify-content: center;

}

button { 
	cursor: pointer;
	display: block;
 }

.field {
	margin-top: 50px;
}